.actualDictionaryRoot {
  display: grid;
  height: 1000px;
  grid-auto-rows: 40px;
  grid-gap: 5px;
  overflow: scroll;
}

.actualItem {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid rgb(118, 129, 145);
  border-radius: 8px;
  background-color: #f2f2fa;
}

.actualItem > div {
  line-height: 35px;
  margin-right: 10px;
  margin-left: 10px;
}

#word {
  font-weight: 600;
}

.wordBtnRoot button {
  border: 1px solid rgb(118, 129, 145);
  border-radius: 5px;
  background-color: #fff;
  height: 30px;
  width: 60px;
  margin-bottom: 5px;
}

.wordBtnRoot button:hover {
  cursor: pointer;
  opacity: 0.8;
}
