.myBtn {
  height: 45px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid rgb(118, 129, 145);
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
}

.myBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

#findNewBtn {
  background-color: #c3b9ff;
}

#retryBtn {
  background-color: #ffd1a8;
}

#checkBtn {
  background-color: #98fb98;
}

#clearBtn {
  background-color: #ddfa99;
}

#suggestBtn {
  background-color: #d1ffff;
}

.dictionaryRoot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150px;
  align-content: center;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

.dictionary {
  background-color: #ffdbff;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid lightslategray;
  border-radius: 10px;
  text-align: center;
  line-height: 150px;
}

.dictionary:hover {
  cursor: pointer;
  opacity: 0.8;
}

.myProgressBar {
  display: grid;
  height: 12px;
  min-width: auto;
  margin-bottom: 40px;
  background-color: #e6e6f0;
  border: solid 1px lightslategray;
  border-radius: 10px;
}
