.cardRoot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 400px;
  width: 450px;
  background: lightblue;
  border: 1px solid lightslategray;
  border-radius: 7px;
}

.cardWordArea {
  height: 300px;
  width: 350px;
  margin-top: 20px;
  background: #f0ffff;
  border: 1px solid lightslategray;
  border-radius: 7px;
}

.cardWordArea div:nth-child(1) {
  border-bottom: 1px solid rgb(202, 208, 214);
}

#wordArea {
  text-align: center;
  line-height: 150px;
}

#knowBtn {
  background-color: #87ff87;
}

#knowBtn:hover {
  background-color: #5bff5b;
}

#studyBtn {
  background: #9cffff;
}

#studyBtn:hover {
  background-color: #5ef8f8;
}
