.speakingConfRoot select {
  margin-top: 5px;
  margin-bottom: 30px;
}

.speakingConfRoot label {
  font-family: inherit;
  font-size: 17px;
}

.speakingConfRoot button {
  background-color: lightcyan;
  margin-top: 40px;
  margin-bottom: 5px;
  float: right;
}

.speakingConfRoot button:hover {
  background-color: #d0fcfc;
}
