.rootArea {
  height: 400px;
  width: 700px;
  background: lightblue;
  border: 1px solid lightslategray;
  border-radius: 7px;
}

.spellArea {
  display: grid;
  grid-auto-rows: 110px;
  height: 220px;
  width: auto;
  background-color: #fff0f5;
  border: 1px solid lightslategray;
  border-radius: 7px;
}

#translateDiv {
  background-color: #fff0f5;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
  font-weight: 600;
}

#wordDiv {
  display: grid;
  column-gap: 1px;
  background-color: #fff0f5;
  border: 1px solid #949696;
}

#wordDiv > div {
  height: 90px;
  line-height: 90px;
  margin: 5px;
}

#charArea {
  display: grid;
  height: 90px;
  grid-auto-rows: 90px;
  grid-column-gap: 5px;
  line-height: 90px;
  margin: 5px;
}

.char {
  background: #ccffff;
  border: 1px solid lightslategray;
  border-radius: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.accessChar {
  background: #75ffa3;
  border: 1px solid lightslategray;
  border-radius: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.wrongChar {
  background: #ff8080;
  border: 1px solid lightslategray;
  border-radius: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.char:hover {
  cursor: pointer;
  background: #c1f8f8;
}

.btnDiv {
  display: flex;
  justify-content: center;
  height: 75px;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 5px;
}
